@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var name = "Nut Jaroensri";
    var studentNumber = "101422089";
    var courseCode = "COMP2139 - asp.net mvc";
}

<!DOCTYPE html>
<html>
    <head>
        <title>About Page                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 In Class Exercise</title>
    </head>
    <body>
    <h1>Welcome to COMP2139</h1>
        <p>Name: @name</p>
        <p>Student Number: @studentNumber</p>
        <p>Course: @courseCode</p>
    </body>

</html>
